.DS_Store
*.svg

# dependencies
node_modules/

# production
tinance-ui/build/

# testing
tinance-ui/coverage/

# dotenv
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
legacy/
